<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Presupuesto</title>
  <link rel="stylesheet" href="../styles/general.css">
  <link rel="stylesheet" href="../styles/footer.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/form2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
 
  <main>
    <section>
      <form class="form">
        <h2>Rellena el formulario para poder contactar</h2>
        <div class="section-form">
          <label for="name">Nombre</label>
          <input id="name" type="text">
          <label for="lastname">Apellidos</label>
          <input id="lastname" type="text">
          <label for="company">Empresa (Opcional)</label>
          <input id="company" type="text">
        </div>
        <div class="section-form">
          <label for="tel">Teléfono</label>
          <input id="tel" type="text">
          <label for="email">Mail</label>
          <input id="email" type="text">
        </div>
        <div class="section-form">
          <label for="message">Mensaje</label>
          <textarea id="message"></textarea>
        </div>
        <div class="consent">
          <input type="checkbox" id="consent">
          <label  for="consent">He leido y aceptado <strong>las políticas de privacidad</strong> y el <strong>aviso legal</strong></label>
        </div>
        <div class="section-form">
          <button type="submit" id="submit">Solicitar más información</button>
        </div>
      </form>
    </section>
  </main>


</body>
</html>